--
-- PostgreSQL database dump
--

\restrict OJadf8wf9e3tzOiPWRpcjyBdMdnZilngdh8pqd864MBjBL9gnTCrmoXq6hBN8y8

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: apply_voucher_to_order(integer, character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.apply_voucher_to_order(p_order_id integer, p_voucher_code character varying) RETURNS numeric
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
    voucher_record RECORD;
    order_record RECORD;
    discount_amount DECIMAL(18,2) := 0;
    final_total DECIMAL(18,2);
BEGIN
    -- Get order details
    SELECT * INTO order_record FROM "order" WHERE order_id = p_order_id;
    IF NOT FOUND THEN
        RAISE EXCEPTION 'Order not found';
    END IF;

    -- Get voucher details
    SELECT * INTO voucher_record FROM voucher WHERE code = p_voucher_code;
    IF NOT FOUND THEN
        RAISE EXCEPTION 'Voucher not found';
    END IF;

    -- Validate voucher
    IF NOT voucher_record.is_active THEN
        RAISE EXCEPTION 'Voucher is not active';
    END IF;

    IF voucher_record.valid_to < CURRENT_TIMESTAMP THEN
        RAISE EXCEPTION 'Voucher has expired';
    END IF;

    -- Check if voucher already applied to this order
    IF order_record.voucher_id IS NOT NULL THEN
        RAISE EXCEPTION 'Order already has a voucher applied';
    END IF;

    -- Calculate discount
    discount_amount := calculate_order_total(order_record.total_amount, voucher_record.voucher_id, order_record.shipping_fee)
                     - order_record.total_amount + order_record.discount_amount;

    -- Update order with voucher
    UPDATE "order"
    SET voucher_id = voucher_record.voucher_id,
        discount_amount = discount_amount,
        final_amount = total_amount - discount_amount + shipping_fee,
        updated_at = CURRENT_TIMESTAMP
    WHERE order_id = p_order_id;

    -- Update voucher usage
    UPDATE voucher
    SET usage_count = usage_count + 1
    WHERE voucher_id = voucher_record.voucher_id;

    -- Log the voucher application
    PERFORM log_system_action(
        order_record.buyer_id,
        'VOUCHER_APPLIED',
        'order',
        p_order_id,
        'Applied voucher ' || p_voucher_code || ' with discount ' || discount_amount
    );

    RETURN discount_amount;
END;
$$;


ALTER FUNCTION public.apply_voucher_to_order(p_order_id integer, p_voucher_code character varying) OWNER TO postgres;

--
-- Name: authenticate_user(text, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.authenticate_user(p_username_or_email text, p_password text) RETURNS TABLE(user_id integer, username character varying, email character varying, full_name character varying, is_active boolean, role_name character varying)
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
    user_record RECORD;
    login_successful BOOLEAN := FALSE;
BEGIN
    -- Find user by username or email
    SELECT u.*, r.role_name INTO user_record
    FROM "user" u
    JOIN user_role ur ON u.user_id = ur.user_id
    JOIN role r ON ur.role_id = r.role_id
    WHERE (u.username = p_username_or_email OR u.email = p_username_or_email)
    AND u.is_deleted = FALSE;

    -- Check if user exists
    IF NOT FOUND THEN
        RAISE EXCEPTION 'Invalid username or password';
    END IF;

    -- Check if user is active
    IF NOT user_record.is_active THEN
        RAISE EXCEPTION 'Account is deactivated';
    END IF;

    -- Verify password
    IF verify_password(p_password, user_record.password_hash) THEN
        login_successful := TRUE;

        -- Update last login
        UPDATE "user" SET last_login = CURRENT_TIMESTAMP WHERE user_id = user_record.user_id;

        -- Log successful login
        PERFORM log_system_action(user_record.user_id, 'LOGIN_SUCCESS', 'user', user_record.user_id, 'Successful login');
    ELSE
        -- Log failed login attempt
        PERFORM log_system_action(user_record.user_id, 'LOGIN_FAILED', 'user', user_record.user_id, 'Failed login attempt');

        RAISE EXCEPTION 'Invalid username or password';
    END IF;

    -- Return user data
    RETURN QUERY
    SELECT
        user_record.user_id,
        user_record.username,
        user_record.email,
        user_record.full_name,
        user_record.is_active,
        user_record.role_name;
END;
$$;


ALTER FUNCTION public.authenticate_user(p_username_or_email text, p_password text) OWNER TO postgres;

--
-- Name: calculate_order_total(numeric, integer, numeric); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.calculate_order_total(p_subtotal numeric, p_voucher_id integer DEFAULT NULL::integer, p_shipping_fee numeric DEFAULT 0) RETURNS numeric
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
    discount_amount DECIMAL(18,2) := 0;
    voucher_record RECORD;
    final_total DECIMAL(18,2);
BEGIN
    -- Validate inputs
    IF p_subtotal < 0 THEN
        RAISE EXCEPTION 'Subtotal cannot be negative';
    END IF;

    IF p_shipping_fee < 0 THEN
        RAISE EXCEPTION 'Shipping fee cannot be negative';
    END IF;

    -- Get voucher details if provided
    IF p_voucher_id IS NOT NULL THEN
        SELECT * INTO voucher_record
        FROM voucher
        WHERE voucher_id = p_voucher_id
        AND is_active = TRUE
        AND valid_to > CURRENT_TIMESTAMP;

        IF NOT FOUND THEN
            RAISE EXCEPTION 'Invalid or expired voucher';
        END IF;

        -- Check usage limit
        IF voucher_record.max_usage IS NOT NULL AND voucher_record.usage_count >= voucher_record.max_usage THEN
            RAISE EXCEPTION 'Voucher usage limit exceeded';
        END IF;

        -- Check minimum order value
        IF p_subtotal < voucher_record.min_order_amount THEN
            RAISE EXCEPTION 'Order value does not meet voucher minimum requirement of %', voucher_record.min_order_amount;
        END IF;

        -- Calculate discount
        IF voucher_record.discount_type = 1 THEN
            -- Percentage discount
            discount_amount := p_subtotal * voucher_record.discount_value / 100;
        ELSE
            -- Fixed amount discount
            discount_amount := voucher_record.discount_value;
        END IF;

        -- Ensure discount doesn't exceed subtotal
        discount_amount := LEAST(discount_amount, p_subtotal);
    END IF;

    -- Calculate final total
    final_total := GREATEST(p_subtotal - discount_amount + p_shipping_fee, 0);

    RETURN final_total;
END;
$$;


ALTER FUNCTION public.calculate_order_total(p_subtotal numeric, p_voucher_id integer, p_shipping_fee numeric) OWNER TO postgres;

--
-- Name: check_no_self_buying(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.check_no_self_buying() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
    order_buyer_id INT;
    product_seller_id INT;
BEGIN
    SELECT buyer_id INTO order_buyer_id
    FROM "order"
    WHERE order_id = NEW.order_id;

    SELECT seller_id INTO product_seller_id
    FROM product
    WHERE product_id = NEW.product_id;

    IF order_buyer_id IS NULL OR product_seller_id IS NULL THEN
        RAISE EXCEPTION 'INVALID_ORDER_OR_PRODUCT: Invalid order or product reference';
    END IF;

    IF order_buyer_id = product_seller_id THEN
        PERFORM log_system_action(
            order_buyer_id,
            'SELF_BUY_BLOCKED',
            'order_detail',
            NEW.order_detail_id,
            'Attempted to buy own product (product_id: ' || NEW.product_id || ')'
        );
        RAISE EXCEPTION 'BUSINESS_RULE_VIOLATION: Sellers cannot buy their own products.';
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.check_no_self_buying() OWNER TO postgres;

--
-- Name: clean_old_audit_logs(integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.clean_old_audit_logs(p_days_old integer DEFAULT 90) RETURNS integer
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
    deleted_count INTEGER;
BEGIN
    -- Delete old logs
    DELETE FROM system_log
    WHERE created_at < CURRENT_TIMESTAMP - INTERVAL '1 day' * p_days_old;

    GET DIAGNOSTICS deleted_count = ROW_COUNT;

    -- Log the cleanup operation
    PERFORM log_system_action(
        NULL,
        'MAINTENANCE',
        'system_log',
        NULL,
        'Cleaned ' || deleted_count || ' audit log entries older than ' || p_days_old || ' days'
    );

    RETURN deleted_count;
END;
$$;


ALTER FUNCTION public.clean_old_audit_logs(p_days_old integer) OWNER TO postgres;

--
-- Name: create_user_with_hash(character varying, character varying, text, character varying, character varying, character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.create_user_with_hash(p_username character varying, p_email character varying, p_password text, p_full_name character varying, p_phone_number character varying DEFAULT NULL::character varying, p_address character varying DEFAULT NULL::character varying) RETURNS integer
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $_$
DECLARE
    new_user_id INTEGER;
    email_regex TEXT := '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$';
BEGIN
    -- Validate inputs
    IF p_username IS NULL OR length(trim(p_username)) = 0 THEN
        RAISE EXCEPTION 'Username cannot be empty';
    END IF;

    IF p_email IS NULL OR length(trim(p_email)) = 0 THEN
        RAISE EXCEPTION 'Email cannot be empty';
    END IF;

    IF p_full_name IS NULL OR length(trim(p_full_name)) = 0 THEN
        RAISE EXCEPTION 'Full name cannot be empty';
    END IF;

    -- Validate email format
    IF NOT (p_email ~ email_regex) THEN
        RAISE EXCEPTION 'Invalid email format';
    END IF;

    -- Check for existing username
    IF EXISTS (SELECT 1 FROM "user" WHERE username = trim(p_username) AND is_deleted = FALSE) THEN
        RAISE EXCEPTION 'Username already exists';
    END IF;

    -- Check for existing email
    IF EXISTS (SELECT 1 FROM "user" WHERE email = trim(p_email) AND is_deleted = FALSE) THEN
        RAISE EXCEPTION 'Email already exists';
    END IF;

    -- Create user with hashed password
    INSERT INTO "user" (
        username,
        email,
        password_hash,
        random_key,
        full_name,
        phone_number,
        address,
        email_verified
    )
    VALUES (
        trim(p_username),
        trim(p_email),
        hash_password(p_password),
        generate_random_key(),
        trim(p_full_name),
        NULLIF(trim(p_phone_number), ''),
        NULLIF(trim(p_address), ''),
        FALSE
    )
    RETURNING user_id INTO new_user_id;

    -- Log user creation
    PERFORM log_system_action(new_user_id, 'USER_CREATED', 'user', new_user_id, 'User account created');

    RETURN new_user_id;
END;
$_$;


ALTER FUNCTION public.create_user_with_hash(p_username character varying, p_email character varying, p_password text, p_full_name character varying, p_phone_number character varying, p_address character varying) OWNER TO postgres;

--
-- Name: generate_password_reset_token(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.generate_password_reset_token() RETURNS text
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
    token TEXT;
BEGIN
    -- Generate 32 bytes of random data, base64url encoded
    token := encode(gen_random_bytes(32), 'base64');
    -- Make URL-safe by replacing problematic characters
    token := replace(replace(token, '+', '-'), '/', '_');
    -- Remove padding
    token := rtrim(token, '=');

    RETURN token;
END;
$$;


ALTER FUNCTION public.generate_password_reset_token() OWNER TO postgres;

--
-- Name: generate_random_key(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.generate_random_key() RETURNS text
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
    random_key TEXT;
BEGIN
    -- Generate 32 bytes (256 bits) of random data
    random_key := encode(gen_random_bytes(32), 'hex');

    RETURN random_key;
END;
$$;


ALTER FUNCTION public.generate_random_key() OWNER TO postgres;

--
-- Name: get_audit_trail(character varying, integer, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_audit_trail(p_table_name character varying, p_record_id integer, p_limit integer DEFAULT 50) RETURNS TABLE(log_id bigint, user_id integer, username character varying, action_type character varying, description text, log_time timestamp without time zone)
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
BEGIN
    RETURN QUERY
    SELECT
        sl.log_id,
        sl.user_id,
        u.username,
        sl.action,
        sl.details,
        sl.created_at
    FROM system_log sl
    LEFT JOIN "user" u ON sl.user_id = u.user_id
    WHERE sl.resource_type = LOWER(trim(p_table_name))
    AND sl.resource_id = p_record_id
    ORDER BY sl.created_at DESC
    LIMIT p_limit;
END;
$$;


ALTER FUNCTION public.get_audit_trail(p_table_name character varying, p_record_id integer, p_limit integer) OWNER TO postgres;

--
-- Name: get_order_status_text(smallint); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_order_status_text(p_status smallint) RETURNS text
    LANGUAGE plpgsql IMMUTABLE SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
BEGIN
    RETURN CASE p_status
        WHEN 0 THEN 'Pending'
        WHEN 1 THEN 'Confirmed'
        WHEN 2 THEN 'Shipping'
        WHEN 3 THEN 'Delivered'
        WHEN 4 THEN 'Cancelled'
        ELSE 'Unknown'
    END;
END;
$$;


ALTER FUNCTION public.get_order_status_text(p_status smallint) OWNER TO postgres;

--
-- Name: get_product_average_rating(integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_product_average_rating(p_product_id integer) RETURNS numeric
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
    avg_rating DECIMAL(3,2);
BEGIN
    SELECT COALESCE(AVG(rating)::DECIMAL(3,2), 0)
    INTO avg_rating
    FROM review
    WHERE product_id = p_product_id AND is_deleted = FALSE;

    RETURN avg_rating;
END;
$$;


ALTER FUNCTION public.get_product_average_rating(p_product_id integer) OWNER TO postgres;

--
-- Name: get_product_status_text(smallint); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_product_status_text(p_status smallint) RETURNS text
    LANGUAGE plpgsql IMMUTABLE SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
BEGIN
    RETURN CASE p_status
        WHEN 0 THEN 'Pending Review'
        WHEN 1 THEN 'Active'
        WHEN 2 THEN 'Rejected'
        WHEN 3 THEN 'Sold Out'
        ELSE 'Unknown'
    END;
END;
$$;


ALTER FUNCTION public.get_product_status_text(p_status smallint) OWNER TO postgres;

--
-- Name: get_seller_total_revenue(integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_seller_total_revenue(p_seller_id integer) RETURNS numeric
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
    total_revenue DECIMAL(18,2);
BEGIN
    SELECT COALESCE(SUM(od.price_at_purchase * od.quantity), 0)
    INTO total_revenue
    FROM order_detail od
    JOIN product p ON od.product_id = p.product_id
    JOIN "order" o ON od.order_id = o.order_id
    WHERE p.seller_id = p_seller_id
      AND o.order_status IN (1, 2, 3) -- Confirmed, Shipping, Delivered
      AND o.is_deleted = FALSE;

    RETURN total_revenue;
END;
$$;


ALTER FUNCTION public.get_seller_total_revenue(p_seller_id integer) OWNER TO postgres;

--
-- Name: get_user_total_spending(integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_user_total_spending(p_user_id integer) RETURNS numeric
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
    total_spent DECIMAL(18,2);
BEGIN
    SELECT COALESCE(SUM(final_amount), 0)
    INTO total_spent
    FROM "order"
    WHERE buyer_id = p_user_id
    AND order_status IN (1, 2, 3) -- Confirmed, Shipping, Delivered
    AND is_deleted = FALSE;

    RETURN total_spent;
END;
$$;


ALTER FUNCTION public.get_user_total_spending(p_user_id integer) OWNER TO postgres;

--
-- Name: hash_password(text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.hash_password(password text) RETURNS text
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
    hashed_password TEXT;
BEGIN
    -- Validate input
    IF password IS NULL OR length(trim(password)) = 0 THEN
        RAISE EXCEPTION 'Password cannot be empty';
    END IF;

    IF length(password) < 6 THEN
        RAISE EXCEPTION 'Password must be at least 6 characters long';
    END IF;

    -- Hash the password
    hashed_password := crypt(password, gen_salt('bf', 8));

    RETURN hashed_password;
END;
$$;


ALTER FUNCTION public.hash_password(password text) OWNER TO postgres;

--
-- Name: log_system_action(integer, character varying, character varying, integer, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.log_system_action(p_user_id integer DEFAULT NULL::integer, p_action_type character varying DEFAULT 'UNKNOWN'::character varying, p_table_name character varying DEFAULT 'unknown'::character varying, p_record_id integer DEFAULT NULL::integer, p_description text DEFAULT NULL::text) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
    client_ip INET;
    user_agent TEXT;
BEGIN
    -- Get client information from session variables if available
    BEGIN
        client_ip := inet_client_addr();
        user_agent := current_setting('request.header.user-agent', TRUE);
    EXCEPTION
        WHEN OTHERS THEN
            client_ip := NULL;
            user_agent := NULL;
    END;

    -- Insert audit log
    INSERT INTO system_log (
        user_id,
        action,
        resource_type,
        resource_id,
        details,
        ip_address,
        created_at
    )
    VALUES (
        p_user_id,
        UPPER(trim(p_action_type)),
        LOWER(trim(p_table_name)),
        p_record_id,
        CASE
            WHEN p_description IS NOT NULL THEN trim(p_description)
            WHEN client_ip IS NOT NULL THEN 'IP: ' || client_ip::TEXT
            ELSE 'System action'
        END,
        client_ip::VARCHAR(45),
        CURRENT_TIMESTAMP
    );
END;
$$;


ALTER FUNCTION public.log_system_action(p_user_id integer, p_action_type character varying, p_table_name character varying, p_record_id integer, p_description text) OWNER TO postgres;

--
-- Name: log_user_login(integer, inet, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.log_user_login(p_user_id integer, p_ip_address inet DEFAULT NULL::inet, p_user_agent text DEFAULT NULL::text) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
    login_description TEXT;
BEGIN
    -- Update last login timestamp
    UPDATE "user"
    SET last_login = CURRENT_TIMESTAMP
    WHERE user_id = p_user_id AND is_deleted = FALSE;

    -- Build login description
    login_description := 'User login';
    IF p_ip_address IS NOT NULL THEN
        login_description := login_description || ' from IP: ' || p_ip_address::TEXT;
    END IF;
    IF p_user_agent IS NOT NULL THEN
        login_description := login_description || ' using: ' || substring(p_user_agent, 1, 100);
    END IF;

    -- Log the login event
    PERFORM log_system_action(p_user_id, 'LOGIN', 'user', p_user_id, login_description);
END;
$$;


ALTER FUNCTION public.log_user_login(p_user_id integer, p_ip_address inet, p_user_agent text) OWNER TO postgres;

--
-- Name: log_user_logout(integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.log_user_logout(p_user_id integer) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
BEGIN
    PERFORM log_system_action(p_user_id, 'LOGOUT', 'user', p_user_id, 'User logout');
END;
$$;


ALTER FUNCTION public.log_user_logout(p_user_id integer) OWNER TO postgres;

--
-- Name: update_product_status_on_quantity(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_product_status_on_quantity() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
BEGIN
    -- Only process if quantity actually changed
    IF NEW.quantity != OLD.quantity THEN
        -- Mark as sold out if quantity reaches 0
        IF NEW.quantity = 0 AND OLD.quantity > 0 THEN
            NEW.status := 3; -- Sold Out
            NEW.sold_at := CURRENT_TIMESTAMP;

            -- Log the status change
            PERFORM log_system_action(
                NULL,
                'PRODUCT_SOLD_OUT',
                'product',
                NEW.product_id,
                'Product marked as sold out (quantity: 0)'
            );
        END IF;

        -- Update timestamp
        NEW.updated_at := CURRENT_TIMESTAMP;
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_product_status_on_quantity() OWNER TO postgres;

--
-- Name: update_stock_on_order(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_stock_on_order() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
    current_quantity INT;
    order_buyer_id INT;
BEGIN
    SELECT quantity INTO current_quantity
    FROM product
    WHERE product_id = NEW.product_id;

    IF NOT FOUND THEN
        RAISE EXCEPTION 'PRODUCT_NOT_FOUND: Product does not exist';
    END IF;

    IF current_quantity < NEW.quantity THEN
        RAISE EXCEPTION 'INSUFFICIENT_STOCK: Only % items available, requested %',
                       current_quantity, NEW.quantity;
    END IF;

    SELECT buyer_id INTO order_buyer_id
    FROM "order"
    WHERE order_id = NEW.order_id;

    UPDATE product
    SET quantity = quantity - NEW.quantity,
        updated_at = CURRENT_TIMESTAMP
    WHERE product_id = NEW.product_id;

    PERFORM log_system_action(
        order_buyer_id,
        'STOCK_DECREASE',
        'product',
        NEW.product_id,
        'Stock decreased by ' || NEW.quantity || ' for order ' || NEW.order_id ||
        ' (remaining: ' || (current_quantity - NEW.quantity) || ')'
    );

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_stock_on_order() OWNER TO postgres;

--
-- Name: update_voucher_usage(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_voucher_usage() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
    voucher_code VARCHAR(50);
    order_buyer_id INT;
BEGIN
    IF NEW.voucher_id IS NOT NULL THEN
        SELECT code, buyer_id INTO voucher_code, order_buyer_id
        FROM voucher
        JOIN "order" ON "order".voucher_id = voucher.voucher_id
        WHERE "order".order_id = NEW.order_id;

        UPDATE voucher
        SET usage_count = usage_count + 1
        WHERE voucher_id = NEW.voucher_id;

        PERFORM log_system_action(
            order_buyer_id,
            'VOUCHER_USED',
            'order',
            NEW.order_id,
            'Voucher ' || voucher_code || ' applied to order'
        );
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_voucher_usage() OWNER TO postgres;

--
-- Name: validate_order_detail(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.validate_order_detail() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
    product_status SMALLINT;
BEGIN
    SELECT status INTO product_status
    FROM product
    WHERE product_id = NEW.product_id;

    IF NOT FOUND THEN
        RAISE EXCEPTION 'INVALID_PRODUCT: Product does not exist';
    END IF;

    IF product_status != 1 THEN
        RAISE EXCEPTION 'PRODUCT_NOT_AVAILABLE: Product is not available for purchase (status: %)',
                       get_product_status_text(product_status);
    END IF;

    IF NEW.quantity <= 0 THEN
        RAISE EXCEPTION 'INVALID_QUANTITY: Quantity must be greater than 0';
    END IF;

    IF NEW.price_at_purchase <= 0 THEN
        RAISE EXCEPTION 'INVALID_PRICE: Price must be greater than 0';
    END IF;

    NEW.subtotal := NEW.price_at_purchase * NEW.quantity;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.validate_order_detail() OWNER TO postgres;

--
-- Name: verify_password(text, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.verify_password(password text, hashed_password text) RETURNS boolean
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
DECLARE
    is_valid BOOLEAN := FALSE;
BEGIN
    -- Validate inputs
    IF password IS NULL OR hashed_password IS NULL THEN
        RETURN FALSE;
    END IF;

    -- Verify password
    IF crypt(password, hashed_password) = hashed_password THEN
        is_valid := TRUE;
    END IF;

    RETURN is_valid;
END;
$$;


ALTER FUNCTION public.verify_password(password text, hashed_password text) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.category (
    category_id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    parent_id integer,
    is_active boolean DEFAULT true NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone
);


ALTER TABLE public.category OWNER TO postgres;

--
-- Name: category_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.category_category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.category_category_id_seq OWNER TO postgres;

--
-- Name: category_category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.category_category_id_seq OWNED BY public.category.category_id;


--
-- Name: contact_info; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contact_info (
    contact_id integer NOT NULL,
    user_id integer NOT NULL,
    full_name character varying(100) NOT NULL,
    phone_number character varying(15) NOT NULL,
    address character varying(255) NOT NULL,
    province character varying(100),
    district character varying(100),
    ward character varying(100),
    is_default boolean DEFAULT false NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone
);


ALTER TABLE public.contact_info OWNER TO postgres;

--
-- Name: contact_info_contact_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.contact_info_contact_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.contact_info_contact_id_seq OWNER TO postgres;

--
-- Name: contact_info_contact_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.contact_info_contact_id_seq OWNED BY public.contact_info.contact_id;


--
-- Name: order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."order" (
    order_id integer NOT NULL,
    buyer_id integer NOT NULL,
    contact_id integer NOT NULL,
    payment_method_id integer NOT NULL,
    voucher_id integer,
    order_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    total_amount numeric(18,2) NOT NULL,
    shipping_fee numeric(18,2) DEFAULT 0,
    discount_amount numeric(18,2) DEFAULT 0,
    final_amount numeric(18,2) NOT NULL,
    order_status smallint DEFAULT 0 NOT NULL,
    shipping_address text,
    tracking_number character varying(100),
    notes text,
    is_deleted boolean DEFAULT false NOT NULL,
    CONSTRAINT order_order_status_check CHECK ((order_status = ANY (ARRAY[0, 1, 2, 3, 4])))
);


ALTER TABLE public."order" OWNER TO postgres;

--
-- Name: order_detail; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_detail (
    order_detail_id integer NOT NULL,
    order_id integer NOT NULL,
    product_id integer NOT NULL,
    quantity integer NOT NULL,
    price_at_purchase numeric(18,2) NOT NULL,
    subtotal numeric(18,2) NOT NULL,
    CONSTRAINT order_detail_quantity_check CHECK ((quantity > 0))
);


ALTER TABLE public.order_detail OWNER TO postgres;

--
-- Name: order_detail_order_detail_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.order_detail_order_detail_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_detail_order_detail_id_seq OWNER TO postgres;

--
-- Name: order_detail_order_detail_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.order_detail_order_detail_id_seq OWNED BY public.order_detail.order_detail_id;


--
-- Name: order_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.order_order_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_order_id_seq OWNER TO postgres;

--
-- Name: order_order_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.order_order_id_seq OWNED BY public."order".order_id;


--
-- Name: payment_method; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payment_method (
    payment_method_id integer NOT NULL,
    method_name character varying(50) NOT NULL,
    is_online boolean NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL
);


ALTER TABLE public.payment_method OWNER TO postgres;

--
-- Name: payment_method_payment_method_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.payment_method_payment_method_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payment_method_payment_method_id_seq OWNER TO postgres;

--
-- Name: payment_method_payment_method_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.payment_method_payment_method_id_seq OWNED BY public.payment_method.payment_method_id;


--
-- Name: product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product (
    product_id integer NOT NULL,
    seller_id integer NOT NULL,
    category_id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    price numeric(18,2) NOT NULL,
    quantity integer NOT NULL,
    view_count integer DEFAULT 0 NOT NULL,
    video_url character varying(500),
    status smallint DEFAULT 0 NOT NULL,
    reject_reason character varying(500),
    approved_by integer,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone,
    sold_at timestamp without time zone,
    weight_grams integer,
    dimensions character varying(50),
    condition_rating smallint,
    warranty_months integer DEFAULT 0,
    CONSTRAINT product_condition_rating_check CHECK (((condition_rating >= 1) AND (condition_rating <= 10))),
    CONSTRAINT product_price_check CHECK ((price >= (0)::numeric)),
    CONSTRAINT product_quantity_check CHECK ((quantity >= 0)),
    CONSTRAINT product_status_check CHECK ((status = ANY (ARRAY[0, 1, 2, 3])))
);


ALTER TABLE public.product OWNER TO postgres;

--
-- Name: product_image; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_image (
    image_id integer NOT NULL,
    product_id integer NOT NULL,
    image_url character varying(500) NOT NULL,
    alt_text character varying(255),
    is_primary boolean DEFAULT false NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    uploaded_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.product_image OWNER TO postgres;

--
-- Name: product_image_image_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_image_image_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_image_image_id_seq OWNER TO postgres;

--
-- Name: product_image_image_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_image_image_id_seq OWNED BY public.product_image.image_id;


--
-- Name: product_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_product_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_product_id_seq OWNER TO postgres;

--
-- Name: product_product_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_product_id_seq OWNED BY public.product.product_id;


--
-- Name: review; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.review (
    review_id integer NOT NULL,
    product_id integer NOT NULL,
    buyer_id integer NOT NULL,
    rating smallint NOT NULL,
    title character varying(255),
    content text,
    is_verified_purchase boolean DEFAULT false NOT NULL,
    helpful_count integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone,
    is_deleted boolean DEFAULT false NOT NULL,
    CONSTRAINT review_rating_check CHECK (((rating >= 1) AND (rating <= 5)))
);


ALTER TABLE public.review OWNER TO postgres;

--
-- Name: review_review_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.review_review_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.review_review_id_seq OWNER TO postgres;

--
-- Name: review_review_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.review_review_id_seq OWNED BY public.review.review_id;


--
-- Name: role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role (
    role_id integer NOT NULL,
    role_name character varying(50) NOT NULL,
    description character varying(255),
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone
);


ALTER TABLE public.role OWNER TO postgres;

--
-- Name: role_role_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.role_role_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.role_role_id_seq OWNER TO postgres;

--
-- Name: role_role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.role_role_id_seq OWNED BY public.role.role_id;


--
-- Name: shopping_cart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shopping_cart (
    cart_id integer NOT NULL,
    user_id integer NOT NULL,
    last_updated timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.shopping_cart OWNER TO postgres;

--
-- Name: shopping_cart_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.shopping_cart_cart_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.shopping_cart_cart_id_seq OWNER TO postgres;

--
-- Name: shopping_cart_cart_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.shopping_cart_cart_id_seq OWNED BY public.shopping_cart.cart_id;


--
-- Name: shopping_cart_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shopping_cart_item (
    cart_item_id integer NOT NULL,
    cart_id integer NOT NULL,
    product_id integer NOT NULL,
    quantity integer NOT NULL,
    added_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT shopping_cart_item_quantity_check CHECK ((quantity > 0))
);


ALTER TABLE public.shopping_cart_item OWNER TO postgres;

--
-- Name: shopping_cart_item_cart_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.shopping_cart_item_cart_item_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.shopping_cart_item_cart_item_id_seq OWNER TO postgres;

--
-- Name: shopping_cart_item_cart_item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.shopping_cart_item_cart_item_id_seq OWNED BY public.shopping_cart_item.cart_item_id;


--
-- Name: system_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_log (
    log_id bigint NOT NULL,
    user_id integer,
    action character varying(100) NOT NULL,
    resource_type character varying(50),
    resource_id integer,
    details text,
    ip_address character varying(45),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.system_log OWNER TO postgres;

--
-- Name: system_log_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.system_log_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.system_log_log_id_seq OWNER TO postgres;

--
-- Name: system_log_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.system_log_log_id_seq OWNED BY public.system_log.log_id;


--
-- Name: transaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transaction (
    transaction_id integer NOT NULL,
    order_id integer NOT NULL,
    user_id integer NOT NULL,
    payment_method_id integer NOT NULL,
    amount numeric(18,2) NOT NULL,
    transaction_status smallint DEFAULT 0 NOT NULL,
    reference_number character varying(100),
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone
);


ALTER TABLE public.transaction OWNER TO postgres;

--
-- Name: transaction_transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.transaction_transaction_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transaction_transaction_id_seq OWNER TO postgres;

--
-- Name: transaction_transaction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.transaction_transaction_id_seq OWNED BY public.transaction.transaction_id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    user_id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    random_key character varying(64) NOT NULL,
    full_name character varying(100) NOT NULL,
    phone_number character varying(15),
    address character varying(255),
    is_active boolean DEFAULT true NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone,
    last_login timestamp without time zone,
    email_verified boolean DEFAULT false NOT NULL,
    email_verification_token character varying(255),
    password_reset_token character varying(255),
    password_reset_expires timestamp without time zone,
    trust_score numeric(5,2) DEFAULT 0.0
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Name: user_role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_role (
    user_id integer NOT NULL,
    role_id integer NOT NULL
);


ALTER TABLE public.user_role OWNER TO postgres;

--
-- Name: user_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_user_id_seq OWNER TO postgres;

--
-- Name: user_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_user_id_seq OWNED BY public."user".user_id;


--
-- Name: violation_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.violation_log (
    log_id integer NOT NULL,
    user_id integer NOT NULL,
    reason character varying(500) NOT NULL,
    action_taken character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.violation_log OWNER TO postgres;

--
-- Name: violation_log_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.violation_log_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.violation_log_log_id_seq OWNER TO postgres;

--
-- Name: violation_log_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.violation_log_log_id_seq OWNED BY public.violation_log.log_id;


--
-- Name: voucher; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.voucher (
    voucher_id integer NOT NULL,
    code character varying(50) NOT NULL,
    description character varying(255),
    discount_type smallint DEFAULT 0 NOT NULL,
    discount_value numeric(18,2) NOT NULL,
    max_usage integer,
    usage_count integer DEFAULT 0 NOT NULL,
    min_order_amount numeric(18,2),
    valid_from timestamp without time zone NOT NULL,
    valid_to timestamp without time zone NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.voucher OWNER TO postgres;

--
-- Name: voucher_voucher_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.voucher_voucher_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.voucher_voucher_id_seq OWNER TO postgres;

--
-- Name: voucher_voucher_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.voucher_voucher_id_seq OWNED BY public.voucher.voucher_id;


--
-- Name: category category_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category ALTER COLUMN category_id SET DEFAULT nextval('public.category_category_id_seq'::regclass);


--
-- Name: contact_info contact_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact_info ALTER COLUMN contact_id SET DEFAULT nextval('public.contact_info_contact_id_seq'::regclass);


--
-- Name: order order_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."order" ALTER COLUMN order_id SET DEFAULT nextval('public.order_order_id_seq'::regclass);


--
-- Name: order_detail order_detail_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_detail ALTER COLUMN order_detail_id SET DEFAULT nextval('public.order_detail_order_detail_id_seq'::regclass);


--
-- Name: payment_method payment_method_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_method ALTER COLUMN payment_method_id SET DEFAULT nextval('public.payment_method_payment_method_id_seq'::regclass);


--
-- Name: product product_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product ALTER COLUMN product_id SET DEFAULT nextval('public.product_product_id_seq'::regclass);


--
-- Name: product_image image_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_image ALTER COLUMN image_id SET DEFAULT nextval('public.product_image_image_id_seq'::regclass);


--
-- Name: review review_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review ALTER COLUMN review_id SET DEFAULT nextval('public.review_review_id_seq'::regclass);


--
-- Name: role role_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role ALTER COLUMN role_id SET DEFAULT nextval('public.role_role_id_seq'::regclass);


--
-- Name: shopping_cart cart_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shopping_cart ALTER COLUMN cart_id SET DEFAULT nextval('public.shopping_cart_cart_id_seq'::regclass);


--
-- Name: shopping_cart_item cart_item_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shopping_cart_item ALTER COLUMN cart_item_id SET DEFAULT nextval('public.shopping_cart_item_cart_item_id_seq'::regclass);


--
-- Name: system_log log_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_log ALTER COLUMN log_id SET DEFAULT nextval('public.system_log_log_id_seq'::regclass);


--
-- Name: transaction transaction_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction ALTER COLUMN transaction_id SET DEFAULT nextval('public.transaction_transaction_id_seq'::regclass);


--
-- Name: user user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user" ALTER COLUMN user_id SET DEFAULT nextval('public.user_user_id_seq'::regclass);


--
-- Name: violation_log log_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.violation_log ALTER COLUMN log_id SET DEFAULT nextval('public.violation_log_log_id_seq'::regclass);


--
-- Name: voucher voucher_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voucher ALTER COLUMN voucher_id SET DEFAULT nextval('public.voucher_voucher_id_seq'::regclass);


--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: contact_info; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.contact_info (contact_id, user_id, full_name, phone_number, address, province, district, ward, is_default, is_deleted, created_at, updated_at) FROM stdin;
1	3	Nguyß╗àn V─ân A	0843001701	123 Lß║íc Long Qu├ón, Ph╞░ß╗¥ng 10	TP.HCM	\N	\N	t	f	2026-03-18 02:24:16.968232	\N
2	4	Trß║ºn Thß╗ï B	0912345678	456 Nguyß╗àn Huß╗ç, Ph╞░ß╗¥ng Bß║┐n Ngh├⌐	TP.HCM	\N	\N	f	f	2026-03-18 02:24:16.968232	\N
\.


--
-- Data for Name: order; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."order" (order_id, buyer_id, contact_id, payment_method_id, voucher_id, order_date, total_amount, shipping_fee, discount_amount, final_amount, order_status, shipping_address, tracking_number, notes, is_deleted) FROM stdin;
1	3	1	1	1	2026-03-18 02:24:16.974166	8500000.00	30000.00	850000.00	7680000.00	1	123 Lß║íc Long Qu├ón, Ph╞░ß╗¥ng 10, TP.HCM	\N	\N	f
\.


--
-- Data for Name: order_detail; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_detail (order_detail_id, order_id, product_id, quantity, price_at_purchase, subtotal) FROM stdin;
1	1	1	1	8500000.00	8500000.00
\.


--
-- Data for Name: payment_method; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payment_method (payment_method_id, method_name, is_online, is_deleted) FROM stdin;
1	COD	f	f
2	MOMO	t	f
3	VNPAY	t	f
4	PAYPAL	t	f
5	BankTransfer	t	f
\.


--
-- Data for Name: product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_image; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: review; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.review (review_id, product_id, buyer_id, rating, title, content, is_verified_purchase, helpful_count, created_at, updated_at, is_deleted) FROM stdin;
\.


--
-- Data for Name: role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.role (role_id, role_name, description, is_deleted, created_at, updated_at) FROM stdin;
1	Admin	Quß║ún trß╗ï vi├¬n c├│ quyß╗ün cao nhß║Ñt, quß║ún l├╜ to├án bß╗Ö hß╗ç thß╗æng	f	2026-03-18 02:24:16.821285	\N
2	Mod	Kiß╗âm duyß╗çt vi├¬n c├│ quyß╗ün quß║ún l├╜ nß╗Öi dung v├á ng╞░ß╗¥i d├╣ng	f	2026-03-18 02:24:16.821285	\N
3	User	Ng╞░ß╗¥i d├╣ng th├┤ng th╞░ß╗¥ng, c├│ quyß╗ün mua h├áng v├á t╞░╞íng t├íc c╞í bß║ún	f	2026-03-18 02:24:16.821285	\N
\.


--
-- Data for Name: shopping_cart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shopping_cart (cart_id, user_id, last_updated) FROM stdin;
\.


--
-- Data for Name: shopping_cart_item; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shopping_cart_item (cart_item_id, cart_id, product_id, quantity, added_at) FROM stdin;
\.


--
-- Data for Name: system_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.system_log (log_id, user_id, action, resource_type, resource_id, details, ip_address, created_at) FROM stdin;
1	3	VOUCHER_USED	order	1	Voucher SAVE10 applied to order	::1/128	2026-03-18 02:24:16.974166
2	3	STOCK_DECREASE	product	1	Stock decreased by 1 for order 1 (remaining: 2)	::1/128	2026-03-18 02:24:16.987793
\.


--
-- Data for Name: transaction; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.transaction (transaction_id, order_id, user_id, payment_method_id, amount, transaction_status, reference_number, description, created_at, updated_at) FROM stdin;
1	1	3	1	7680000.00	1	TXN_cc67cb03a2d0a7f6ae2c9b6855905f5f	\N	2026-03-18 02:24:16.995758	\N
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_role (user_id, role_id) FROM stdin;
1	1
2	2
3	3
4	3
\.


--
-- Data for Name: violation_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.violation_log (log_id, user_id, reason, action_taken, created_at) FROM stdin;
\.


--
-- Data for Name: voucher; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: category_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.category_category_id_seq', 33, true);


--
-- Name: contact_info_contact_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.contact_info_contact_id_seq', 33, true);


--
-- Name: order_detail_order_detail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_detail_order_detail_id_seq', 33, true);


--
-- Name: order_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_order_id_seq', 33, true);


--
-- Name: payment_method_payment_method_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.payment_method_payment_method_id_seq', 33, true);


--
-- Name: product_image_image_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_image_image_id_seq', 33, true);


--
-- Name: product_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_product_id_seq', 33, true);


--
-- Name: review_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.review_review_id_seq', 1, false);


--
-- Name: role_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.role_role_id_seq', 33, true);


--
-- Name: shopping_cart_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shopping_cart_cart_id_seq', 1, false);


--
-- Name: shopping_cart_item_cart_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shopping_cart_item_cart_item_id_seq', 1, false);


--
-- Name: system_log_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.system_log_log_id_seq', 33, true);


--
-- Name: transaction_transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transaction_transaction_id_seq', 33, true);


--
-- Name: user_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_user_id_seq', 33, true);


--
-- Name: violation_log_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.violation_log_log_id_seq', 1, false);


--
-- Name: voucher_voucher_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.voucher_voucher_id_seq', 33, true);


--
-- Name: category category_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_name_key UNIQUE (name);


--
-- Name: category category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_pkey PRIMARY KEY (category_id);


--
-- Name: contact_info contact_info_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact_info
    ADD CONSTRAINT contact_info_pkey PRIMARY KEY (contact_id);


--
-- Name: order_detail order_detail_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_detail
    ADD CONSTRAINT order_detail_pkey PRIMARY KEY (order_detail_id);


--
-- Name: order order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."order"
    ADD CONSTRAINT order_pkey PRIMARY KEY (order_id);


--
-- Name: payment_method payment_method_method_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_method
    ADD CONSTRAINT payment_method_method_name_key UNIQUE (method_name);


--
-- Name: payment_method payment_method_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_method
    ADD CONSTRAINT payment_method_pkey PRIMARY KEY (payment_method_id);


--
-- Name: product_image product_image_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_image
    ADD CONSTRAINT product_image_pkey PRIMARY KEY (image_id);


--
-- Name: product product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_pkey PRIMARY KEY (product_id);


--
-- Name: review review_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT review_pkey PRIMARY KEY (review_id);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (role_id);


--
-- Name: role role_role_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_role_name_key UNIQUE (role_name);


--
-- Name: shopping_cart_item shopping_cart_item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shopping_cart_item
    ADD CONSTRAINT shopping_cart_item_pkey PRIMARY KEY (cart_item_id);


--
-- Name: shopping_cart shopping_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shopping_cart
    ADD CONSTRAINT shopping_cart_pkey PRIMARY KEY (cart_id);


--
-- Name: shopping_cart shopping_cart_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shopping_cart
    ADD CONSTRAINT shopping_cart_user_id_key UNIQUE (user_id);


--
-- Name: system_log system_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_log
    ADD CONSTRAINT system_log_pkey PRIMARY KEY (log_id);


--
-- Name: transaction transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction
    ADD CONSTRAINT transaction_pkey PRIMARY KEY (transaction_id);


--
-- Name: user user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_email_key UNIQUE (email);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (user_id);


--
-- Name: user user_random_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_random_key_key UNIQUE (random_key);


--
-- Name: user_role user_role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_role
    ADD CONSTRAINT user_role_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: user user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_username_key UNIQUE (username);


--
-- Name: violation_log violation_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.violation_log
    ADD CONSTRAINT violation_log_pkey PRIMARY KEY (log_id);


--
-- Name: voucher voucher_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voucher
    ADD CONSTRAINT voucher_code_key UNIQUE (code);


--
-- Name: voucher voucher_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voucher
    ADD CONSTRAINT voucher_pkey PRIMARY KEY (voucher_id);


--
-- Name: idx_category_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_category_created_at ON public.category USING btree (created_at);


--
-- Name: idx_category_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_category_is_active ON public.category USING btree (is_active) WHERE (is_deleted = false);


--
-- Name: idx_category_name_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_category_name_active ON public.category USING btree (name) WHERE (is_deleted = false);


--
-- Name: idx_category_parent; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_category_parent ON public.category USING btree (parent_id) WHERE (is_deleted = false);


--
-- Name: idx_contact_info_default; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_contact_info_default ON public.contact_info USING btree (is_default) WHERE (is_deleted = false);


--
-- Name: idx_contact_info_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_contact_info_user ON public.contact_info USING btree (user_id);


--
-- Name: idx_order_buyer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_buyer ON public."order" USING btree (buyer_id) WHERE (is_deleted = false);


--
-- Name: idx_order_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_date ON public."order" USING btree (order_date) WHERE (is_deleted = false);


--
-- Name: idx_order_detail_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_detail_order ON public.order_detail USING btree (order_id);


--
-- Name: idx_order_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_status ON public."order" USING btree (order_status) WHERE (is_deleted = false);


--
-- Name: idx_product_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_product_category ON public.product USING btree (category_id) WHERE (is_deleted = false);


--
-- Name: idx_product_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_product_created_at ON public.product USING btree (created_at) WHERE (is_deleted = false);


--
-- Name: idx_product_image_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_product_image_product ON public.product_image USING btree (product_id);


--
-- Name: idx_product_price; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_product_price ON public.product USING btree (price) WHERE (is_deleted = false);


--
-- Name: idx_product_seller; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_product_seller ON public.product USING btree (seller_id) WHERE (is_deleted = false);


--
-- Name: idx_product_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_product_status ON public.product USING btree (status) WHERE (is_deleted = false);


--
-- Name: idx_product_title; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_product_title ON public.product USING gin (to_tsvector('english'::regconfig, (title)::text)) WHERE (is_deleted = false);


--
-- Name: idx_review_buyer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_review_buyer ON public.review USING btree (buyer_id);


--
-- Name: idx_review_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_review_product ON public.review USING btree (product_id);


--
-- Name: idx_review_rating; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_review_rating ON public.review USING btree (rating);


--
-- Name: idx_role_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_role_created_at ON public.role USING btree (created_at);


--
-- Name: idx_role_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_role_name ON public.role USING btree (role_name) WHERE (is_deleted = false);


--
-- Name: idx_shopping_cart_item_cart; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_shopping_cart_item_cart ON public.shopping_cart_item USING btree (cart_id);


--
-- Name: idx_shopping_cart_item_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_shopping_cart_item_product ON public.shopping_cart_item USING btree (product_id);


--
-- Name: idx_system_log_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_system_log_action ON public.system_log USING btree (action);


--
-- Name: idx_system_log_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_system_log_created_at ON public.system_log USING btree (created_at);


--
-- Name: idx_system_log_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_system_log_user ON public.system_log USING btree (user_id);


--
-- Name: idx_transaction_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transaction_order ON public.transaction USING btree (order_id);


--
-- Name: idx_transaction_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transaction_status ON public.transaction USING btree (transaction_status);


--
-- Name: idx_transaction_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transaction_user ON public.transaction USING btree (user_id);


--
-- Name: idx_user_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_created_at ON public."user" USING btree (created_at);


--
-- Name: idx_user_email_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_user_email_active ON public."user" USING btree (email) WHERE (is_deleted = false);


--
-- Name: idx_user_email_verified; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_email_verified ON public."user" USING btree (email_verified) WHERE (is_deleted = false);


--
-- Name: idx_user_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_is_active ON public."user" USING btree (is_active) WHERE (is_deleted = false);


--
-- Name: idx_user_username_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_user_username_active ON public."user" USING btree (username) WHERE (is_deleted = false);


--
-- Name: idx_violation_log_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_violation_log_created_at ON public.violation_log USING btree (created_at);


--
-- Name: idx_violation_log_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_violation_log_user ON public.violation_log USING btree (user_id);


--
-- Name: idx_voucher_code_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_voucher_code_active ON public.voucher USING btree (code) WHERE (is_active = true);


--
-- Name: idx_voucher_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_voucher_created_at ON public.voucher USING btree (created_at);


--
-- Name: idx_voucher_valid_to; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_voucher_valid_to ON public.voucher USING btree (valid_to) WHERE (is_active = true);


--
-- Name: order_detail trg_no_self_buying; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_no_self_buying BEFORE INSERT ON public.order_detail FOR EACH ROW EXECUTE FUNCTION public.check_no_self_buying();


--
-- Name: product trg_update_product_status; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_update_product_status BEFORE UPDATE ON public.product FOR EACH ROW WHEN ((old.quantity <> new.quantity)) EXECUTE FUNCTION public.update_product_status_on_quantity();


--
-- Name: order_detail trg_update_stock; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_update_stock BEFORE INSERT ON public.order_detail FOR EACH ROW EXECUTE FUNCTION public.update_stock_on_order();


--
-- Name: order trg_update_voucher_usage; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_update_voucher_usage AFTER INSERT ON public."order" FOR EACH ROW WHEN ((new.voucher_id IS NOT NULL)) EXECUTE FUNCTION public.update_voucher_usage();


--
-- Name: order_detail trg_validate_order_detail; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_validate_order_detail BEFORE INSERT ON public.order_detail FOR EACH ROW EXECUTE FUNCTION public.validate_order_detail();


--
-- Name: category category_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.category(category_id);


--
-- Name: contact_info contact_info_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact_info
    ADD CONSTRAINT contact_info_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(user_id);


--
-- Name: order order_buyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."order"
    ADD CONSTRAINT order_buyer_id_fkey FOREIGN KEY (buyer_id) REFERENCES public."user"(user_id);


--
-- Name: order order_contact_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."order"
    ADD CONSTRAINT order_contact_id_fkey FOREIGN KEY (contact_id) REFERENCES public.contact_info(contact_id);


--
-- Name: order_detail order_detail_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_detail
    ADD CONSTRAINT order_detail_order_id_fkey FOREIGN KEY (order_id) REFERENCES public."order"(order_id);


--
-- Name: order_detail order_detail_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_detail
    ADD CONSTRAINT order_detail_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.product(product_id);


--
-- Name: order order_payment_method_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."order"
    ADD CONSTRAINT order_payment_method_id_fkey FOREIGN KEY (payment_method_id) REFERENCES public.payment_method(payment_method_id);


--
-- Name: order order_voucher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."order"
    ADD CONSTRAINT order_voucher_id_fkey FOREIGN KEY (voucher_id) REFERENCES public.voucher(voucher_id);


--
-- Name: product product_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public."user"(user_id);


--
-- Name: product product_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.category(category_id);


--
-- Name: product_image product_image_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_image
    ADD CONSTRAINT product_image_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.product(product_id) ON DELETE CASCADE;


--
-- Name: product product_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public."user"(user_id);


--
-- Name: review review_buyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT review_buyer_id_fkey FOREIGN KEY (buyer_id) REFERENCES public."user"(user_id);


--
-- Name: review review_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT review_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.product(product_id);


--
-- Name: shopping_cart_item shopping_cart_item_cart_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shopping_cart_item
    ADD CONSTRAINT shopping_cart_item_cart_id_fkey FOREIGN KEY (cart_id) REFERENCES public.shopping_cart(cart_id);


--
-- Name: shopping_cart_item shopping_cart_item_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shopping_cart_item
    ADD CONSTRAINT shopping_cart_item_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.product(product_id);


--
-- Name: shopping_cart shopping_cart_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shopping_cart
    ADD CONSTRAINT shopping_cart_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(user_id);


--
-- Name: system_log system_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_log
    ADD CONSTRAINT system_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(user_id);


--
-- Name: transaction transaction_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction
    ADD CONSTRAINT transaction_order_id_fkey FOREIGN KEY (order_id) REFERENCES public."order"(order_id);


--
-- Name: transaction transaction_payment_method_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction
    ADD CONSTRAINT transaction_payment_method_id_fkey FOREIGN KEY (payment_method_id) REFERENCES public.payment_method(payment_method_id);


--
-- Name: transaction transaction_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction
    ADD CONSTRAINT transaction_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(user_id);


--
-- Name: user_role user_role_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_role
    ADD CONSTRAINT user_role_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.role(role_id);


--
-- Name: user_role user_role_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_role
    ADD CONSTRAINT user_role_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(user_id);


--
-- Name: violation_log violation_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.violation_log
    ADD CONSTRAINT violation_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(user_id);


--
-- PostgreSQL database dump complete
--

\unrestrict OJadf8wf9e3tzOiPWRpcjyBdMdnZilngdh8pqd864MBjBL9gnTCrmoXq6hBN8y8

