# Database
DATABASE_URL=postgresql://postgres:your-password@localhost:5432/oldshop
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123
DB_NAME=oldshop

# JWT
SECRET_KEY=4eb88942b090382902646d6063d80397576566085a85532506e788c3a1e27163
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Mail
SMTP_USER=
SMTP_PASSWORD=
MAIL_USERNAME=
MAIL_PASSWORD=

# PayPal
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_MODE=sandbox
PAYPAL_API_URL=https://api-m.sandbox.paypal.com

# Server
DEBUG=True
LOG_LEVEL=INFO
# -> Just an example